@charset "utf-8";
div.toggleMenu{
	width: 30px;height: 30px;border: 1px solid #ccc;position: absolute;right: 10px;top: 10px;
	cursor: pointer;z-index: 1;
}
div.toggleMenu div{
	width: 22px;height: 2px;background-color: #ccc;
	border-radius: 3px;position: absolute;left: 3px;transition: 0.3s;
}
.bar1{top: 6px;}
.bar2{top: 13px;}
.bar3{top: 20px;}
div.toggleMenu.change div{transition: 0.3s}
div.toggleMenu.change .bar1{top:13px;transform: rotate(45deg);}
div.toggleMenu.change .bar3{top:13px;transform: rotate(-45deg);}
div.toggleMenu.change .bar2{opacity: 0;}

.menu{
	width: 100%;height: 100%;position: fixed;
	background: #5587ED;top: -100%;_left: -100%;_transition: 0.3s;
	/*opacity: 0.9;*/
}
.menu .txt{
	position: absolute;width: 200px;left: 50%;top: 50%;
	transform: translate(-50%,-50%);text-align: center;
}
.menu a{line-height: 30px;color: #fff;}
/*.menu.top{left: 0%;transition: 0.3s}*/


.topNav{background-color: #333;}
.topNav a{display: block;float: left;color: #fff;padding: 14px 16px;}
.topNav a.icon{float: right;}
.topNav a.icon{display: none;}

@media screen and (max-width: 576px){ /*mobile*/
	.menuWrap{position: fixed;width: 100%;}
	.topNav a{display: none;}                 /*.topNav a:not(:first-child){display: none;}*/
	.topNav a:first-child{display: block;}
	.topNav a.icon{display: block;}
	.topNav.responsive a{float: none;_display: block;display: none;}
	.topNav.responsive a.icon{position: absolute;right: 0;top: 0;display: block;}
}
@media screen and (min-width: 577px) and (max-width: 922px){ /*tablet*/
	.menuWrap{width: 100%;position: fixed;}
	.menu{display: none;}
}
@media screen and (min-width: 923px){ /*pc*/
	.menuWrap{
		width: 1200px;position: fixed;
		left: 50%;transform: translateX(-50%);top: 20px;
	}
	.menu{display: none;}
}